<IfModule mod_rewrite.c>
RewriteEngine On

#RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

# supress php errors
php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off
php_value docref_root 0
php_value docref_ext 0

# Aumentar limite MB de archivo subido
php_value upload_max_filesize 100M
php_value post_max_size 100M
php_value max_execution_time 240
php_value max_input_time 240
</IfModule>
